{{#if @custom.footer_categories}}{{/if}}
<footer class="gh-footer{{#match @custom.footer_type 'Black'}} gh-footer--default-bg{{else}} gh-footer--light-bg{{/match}}">
    <div class="gh-container">
        <div class="gh-footer-top">
            {{!-- Add categories with subcategories HERE --}}
            {{!-- {{>footer-category category='economics' subCategory='inflation-and-deflation,banking,economics,economics'}} --}}
        </div>

        <div class="gh-footer-bottom">
            <a class="gh-site-logo {{#if @custom.dark_mode_logo}}gh-site-logo-has-DM-logo{{/if}}" href="{{@site.url}}" aria-label="{{t "{blogtitle} logo and home page link" blogtitle=@site.title}}">
                {{#if @site.logo}}
                    {{#if @custom.dark_mode_logo}}
                    <img src="{{img_url @custom.dark_mode_logo}}" alt="{{@site.title}} icon" class="gh-site-logo-img-dark-mode">
                    {{/if}}
                    <img src="{{img_url @site.logo}}" alt="{{@site.title}} icon" class="gh-site-logo-img">
                    {{else}}
                    <h1 class="gh-site-title">{{@site.title}}</h1>
                {{/if}}
            </a>
            <div class="gh-footer-bottom__legal">
                {{t "Copyright ©"}}
                <span class="gh-footer-bottom__year">
                    {{date format='YYYY'}}
                </span>
                {{{t "{blogtitle}. Published with {ghostlink} and" blogtitle=@site.title ghostlink="<a href=\"https://ghost.org\" target=\"_blank\" rel=\"noopener\" aria-label=\"Ghost CMS official website link\">Ghost</a>"}}}
                <a href="{{@site.url}}" aria-label="{{@site.title}}">{{@site.title}}</a>.
            </div>
            {{navigation type="secondary"}}
            <div class="gh-footer-bottom__wrapper">
                {{#if @site.members_enabled}}
                {{#unless @member}}
                <a class="gh-subscribe-button gh-subscribe-button--footer" href="{{@site.url}}/subscribe" aria-label="{{t "Subscribe"}}"><span>{{t "Subscribe"}}</span></a>
                {{/unless}}
                {{/if}}
                {{>socials}}
            </div>
        </div>
    </div>
</footer>
