<div class="gh-post-page__more">
    {{#if tags.[0]}}
        {{#get "posts" limit='4' include="authors,tags" filter="tag:{{tags.[0].slug}}+id:-{{id}}"}}
            {{#match posts.length ">" 0}}
                {{#foreach posts}}
                    {{#if @first}}
                        <h2 class="gh-post-page__more-title">{{t "Read More"}}</h2>
                        <div class="gh-post-page__more-posts">
                    {{/if}}

                        {{>featured-post type="9-1" classNames="gh-featured-post--column"}}

                    {{#if @last}}
                        </div>
                    {{/if}}
                {{/foreach}}
            {{else}}
                <h2 class="gh-post-page__more-title">{{t "Latest posts"}}</h2>
                <div class="gh-post-page__more-posts">
                    {{#get "posts" limit='4' include="authors,tags" }}
                        {{#foreach posts}}
                            {{>featured-post type="9-1" classNames="gh-featured-post--column"}}
                        {{/foreach}}
                    {{/get}}
                </div>
            {{/match}}
        {{/get}}
    {{else}}
        <h2 class="gh-post-page__more-title">{{t "Latest posts"}}</h2>
        <div class="gh-post-page__more-posts">
            {{#get "posts" limit='4' include="authors,tags" filter="id:-{{id}}"}}
                {{#foreach posts}}

                {{>featured-post type="9-1" classNames="gh-featured-post--column"}}
                            
                {{/foreach}}
            {{/get}}
        </div>
    {{/if}}
</div>