{{! Reusable social icons block }}

<div class="gh-social-icons">
    {{#if @site.facebook}}
        <a class="gh-social-icons-link" href="{{social_url type="facebook"}}" target="_blank" rel="noopener noreferrer" aria-label="{{@site.title}} {{t "facebook link"}}">{{> "icons/facebook"}}</a>
    {{/if}}
    {{#if @site.twitter}}
        <a class="gh-social-icons-link" href="{{social_url type="twitter"}}" target="_blank" rel="noopener noreferrer" aria-label="{{@site.title}} {{t "twitter link"}}">{{> "icons/twitter"}}</a>
    {{/if}}
</div>