<section class="gh-container--section{{#match themeSection "light-gray"}} gh-section--theme-light-gray{{/match}}{{#match themeSection "black"}} gh-section--theme-black{{/match}}">
    <div class="gh-container ">
        {{#if tagName}}
            {{#get "tags" filter="slug:{{tagName}}"}}
                {{#foreach tags}}
                    <h2 class="gh-posts-section__title">
                        <a href="{{url}}" class="gh-posts-section__title-link">{{name}}</a>
                    </h2>
                {{/foreach}}
            {{/get}}
        {{/if}}

        <div class="gh-hero-wrapper--grid gh-hero-wrapper--featured-type-10-1">
            {{#if tagName}}
                {{#get "posts" limit='2' include="authors,tags" filter="tag:{{tagName}}"}}
                    {{#match posts.length "=" 2}}
                        {{#foreach posts}}

                            {{>featured-main-post type="10-1" lazy="true" classNames="gh-featured-main-post--one-column gh-featured-main-post--no-feat"}}
                                    
                        {{/foreach}}
                    {{else}}
                        <div class="gh-posts--not-enought">{{t "not enough posts"}}</div>
                    {{/match}}
                {{/get}}
            {{else}}
                {{#get "posts" limit='2' include="authors,tags" filter="featured:true" as |featuredPosts|}}
                    {{#match featuredPosts.length "=" 2}}
                        {{#foreach featuredPosts}}

                            {{>featured-main-post type="10-1" classNames="gh-featured-main-post--one-column"}}
                            
                        {{/foreach}}
                    {{else}}
                        <div class="gh-posts--not-enought">{{t "not enough posts"}}</div>
                    {{/match}}
                {{/get}}
            {{/if}}  
        </div>
    </div>
</section>