{{!< default}}

<main class="gh-membership-page">
    <div class="gh-membership-page-wrapper gh-container">
    <div class="gh-membership-page-header">
        {{#page}}
            <h1 class="gh-membership-page-title">{{title}}</h1>
        {{#if custom_excerpt}}
            <p class="gh-membership-page-desc">{{custom_excerpt}}</p>
        {{/if}}
        {{/page}}
    </div>
    <button aria-label="{{t "Monthly or yearly toggle button"}}" class="gh-membership-toggle-btn">
        <span class="gh-membership-toggle-value gh-membership-toggle-value--montly">{{t "Monthly"}}</span>
        <span class="gh-membership-toggle-value gh-membership-toggle-value--yearly">{{t "Yearly"}}</span>
    </button>
    <div class="gh-tiers-container">
        {{#get "tiers" include="monthly_price,yearly_price,benefits" limit="all" as |tiers|}}
            {{#foreach tiers}}
                <div class="gh-tier-card">
                    {{#if trial_days}}
                    <div class="gh-tier-card__trial-days">
                        <span class="gh-tier-card__trial-days-span">{{trial_days}} {{t "Trial Days"}}</span>
                    </div>
                    {{/if}}
                    <h3 class="gh-tier-card__name">{{name}}</h3>
                    <div class="gh-tier-card__price">
                        <span class="gh-tier-card__price-value monthly">{{#match type "free"}}0{{else}}{{price monthly_price currency=currency numberFormat="long" currencyFormat="symbol"}}{{/match}}</span>
                        <span class="gh-tier-card__price-value yearly">{{#match type "free"}}0{{else}}{{price yearly_price currency=currency numberFormat="long" currencyFormat="symbol"}}{{/match}}</span>
                        <span class="gh-tier-card__price-per monthly">{{t "per month"}}</span>
                        <span class="gh-tier-card__price-per yearly">{{t "per year"}}</span>
                    </div>
                    <p class="gh-tier-card__desc">{{description}}</p>
                    {{#if benefits}}
                        <ul class="gh-tier-card-benefits-list">
                            {{#foreach benefits as |benefit|}}
                            <li class="gh-tier-card-benefit">
                                <svg width="17" height="17" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.6663 4.66675L6.66215 11.149C6.43435 11.3949 6.065 11.3949 5.8372 11.149L3.33301 8.4454"
                                        stroke="#343435" stroke-width="2" stroke-linecap="round"></path>
                                </svg>
                                {{benefit}}
                            </li>
                            {{/foreach}}
                        </ul>
                    {{/if}}
                    <div class="gh-tier-card-btn-wrapper">
                        {{#match type "free"}}
                            <a class="gh-tier-card-signup monthly gh-main-button" href="javascript:" data-portal="signup" aria-label="Sign Up For Free">{{t "Sign Up For Free"}}</a>
                            <a class="gh-tier-card-signup yearly gh-main-button" href="javascript:" data-portal="signup" aria-label="Sign Up For Free">{{t "Sign Up For Free"}}</a>
                        {{else}}
                            <a class="gh-tier-card-signup monthly gh-main-button" href="javascript:" data-portal="signup/{{id}}/monthly" aria-label="{{t "Sign Up Now"}}">{{t "Sign Up Now"}}</a>
                            <a class="gh-tier-card-signup yearly gh-main-button" href="javascript:" data-portal="signup/{{id}}/yearly" aria-label="{{t "Sign Up Now"}}">{{t "Sign Up Now"}}</a>
                        {{/match}}
                    </div>
                </div>
            {{/foreach}}
        {{/get}}
    </div>
    {{#unless @member}}
        <p class="gh-membership-page__sign-in">
            {{t "Already have an account?"}}
            <a class="gh-membership-page__sign-in-link" href="{{@site.url}}/signin" aria-label="{{t "Sign in"}}">
                {{t "Sign in"}}
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.875 4.5L14.25 9M14.25 9L9.875 13.5M14.25 9L3.75 9" stroke="#1D1D1F" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </p>
    {{/unless}}
    </div>
    {{#page}}
    <div class="gh-membership-page-content">
        <div class="gh-post-page__content">
            {{content}}
        </div>
    </div>
    {{/page}}
</main>