{{!< default}}

{{#post}}
<main class="gh-archive-page gh-categories-page gh-container">
    <div class="gh-archive-page-header{{#if feature_image}} with-image{{/if}}">
        <div class="gh-archive-page-header-main">
            <h1 class="gh-archive-page-title">{{title}}</h1>
            {{#if custom_excerpt}}
            <p class="gh-archive-page-excerpt">{{custom_excerpt}}</p>
            {{/if}}
        </div>
        {{#if feature_image}}
        <div class="gh-archive-page-image-wrapper">
            <picture>
                <source srcset="{{img_url feature_image size="1600" format="webp" }} 1600w, {{img_url feature_image
                    size="1000" format="webp" }} 1000w, {{img_url feature_image size="800" format="webp" }} 800w, {{img_url
                    feature_image size="600" format="webp" }} 600w, {{img_url feature_image size="500" format="webp" }} 500w"
                    sizes="(max-width: 900px) 96vw, (max-width: 1480px) 46vw, (min-width: 1481px) 672px" type="image/webp">
                <img class="gh-archive-page-feature-image" srcset="{{img_url feature_image size="1600" }} 1600w, {{img_url feature_image
                    size="1000" }} 1000w, {{img_url feature_image size="800" }} 800w, {{img_url feature_image size="600" }}
                    600w, {{img_url feature_image size="500" }} 500w" sizes="(max-width: 900px) 96vw, (max-width: 1480px) 46vw, (min-width: 1481px) 672px"
                    src="{{img_url feature_image size="1600"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}} {{t "post image"}}{{/if}}">
            </picture>
        </div>
        {{/if}}
    </div>
    <div class="gh-categories-feed">
        {{#get "tags" include="count.posts" limit="all"}}
        {{#if tags}}
        {{#foreach tags}}
        <div class="gh-category-card">
            <a href={{url}} class="gh-category-card-image-wrapper-link" aria-label="{{t "post image"}}">
                {{#if feature_image}}
                <picture>
                    <source srcset="{{img_url feature_image size="1000" format="webp" }} 1000w, {{img_url feature_image size="800"
                        format="webp" }} 800w, {{img_url feature_image size="600" format="webp" }} 600w, {{img_url feature_image
                        size="500" format="webp" }} 500w"
                        sizes="(max-width: 900px) 46vw, (max-width: 1250px) 30vw, (max-width: 1480px) 22vw, (min-width: 1481px) 326px"
                        type="image/webp">
                    <img class="gh-category-card-image" srcset="{{img_url feature_image size="1000"}} 1000w, {{img_url feature_image
                        size="800" }} 800w, {{img_url feature_image size="600" }} 600w, {{img_url feature_image size="500" }} 500w"
                        sizes="(max-width: 900px) 46vw, (max-width: 1250px) 30vw, (max-width: 1480px) 22vw, (min-width: 1481px) 326px"
                        src="{{img_url feature_image size="1000"}}" alt="{{title}} {{t "post image"}}" />
                </picture>
                {{else}}
                <div class="gh-category-card-image-plug">
                    {{> icons/category-plug-icon}}
                </div>
                {{/if}}
            </a>
            <div class="gh-category-card-content">
                <h2 class="gh-category-card-title">
                    <a href="{{url}}" class="gh-category-card-title-link" aria-label="{{name}}">{{name}}</a>
                </h2>
                <span class="gh-category-card-posts-count">
                    {{plural count.posts empty=(t "No Posts") singular=(t "% Post") plural=(t "% Posts")}}
                </span>
            </div>
        </div>
        {{/foreach}}
        {{/if}}
        {{/get}}
    </div>
</main>
{{/post}}