{{!< default}}

{{#post}}

<main class="gh-post-page--wrapper">
    <div class="gh-container">
    <div class="gh-post-page--with-sidebar {{#if featured}}gh-post-page--featured{{/if}}">
        {{#if featured}}
            {{#if feature_image}}
                <figure class="gh-post-page__featured-img">
                    <picture>
                    <source 
                        srcset="
                        {{img_url feature_image size="800" format="webp"}} 800w,
                        {{img_url feature_image size="1000" format="webp"}} 1000w,
                        {{img_url feature_image size="1200" format="webp"}} 1200w,
                        {{img_url feature_image size="1600" format="webp"}} 1600w,
                        {{img_url feature_image size="2000" format="webp"}} 2000w,
                        {{img_url feature_image size="2400" format="webp"}} 2400w"
                        sizes="(min-width: 1200px) 1200px, 90vw" 
                        type="image/webp"
                    >
                    <img
                        srcset="
                        {{img_url feature_image size="800"}} 800w,
                        {{img_url feature_image size="1000"}} 1000w,
                        {{img_url feature_image size="1200"}} 1200w,
                        {{img_url feature_image size="1600"}} 1600w,
                        {{img_url feature_image size="2000"}} 2000w,
                        {{img_url feature_image size="2400"}} 2400w"
                        sizes="(min-width: 1200px) 1200px, 90vw" 
                        src="{{img_url feature_image size="l"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        class="gh-post-page__image"
                    >
                    </picture>
                    {{#if feature_image_caption}}
                        <figcaption class="gh-card-image__caption">{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
                {{else}}
                <div class="gh-post-page__featured-img-wrapper">
                    <div class="gh-post-page__featured-img--noImage">
                        {{#if @site.icon}}
                            <img src="{{img_url @site.icon}}" alt="{{@site.title}} icon" class="gh-card-image-wrapper-link--noImage-logo">
                        {{else}}
                            <span class="gh-card-image-wrapper-link--noImage-name">{{@site.title}}</span>
                        {{/if}}
                    </div>
                </div>
            {{/if}}
        {{/if}}
        <article class="{{post_class}} gh-post-page__article">
            <header class="gh-post-page__header">

                {{#foreach tags}}

                    {{#if @first}}
                        <div class="gh-tags-wrapper">
                        {{>"icons/tag"}}
                    {{/if}}
                        
                    <a href="{{url}}" class="gh-tag-link" {{#if accent_color}}style="color:{{accent_color}}"{{/if}}>{{name}}</a>

                    {{#if @last}}
                        </div>
                    {{/if}}

                {{/foreach}}

                <h1 class="gh-post-page__title">{{title}}</h1>

                {{#if custom_excerpt}}
                    <p class="gh-post-page__excerpt">{{custom_excerpt}}</p>
                {{/if}}

                <div class="gh-post-page__author gh-post-page__author--content">
                    {{#if primary_author.profile_image}}
                        <picture>
                            <source 
                                srcset="
                                {{img_url primary_author.profile_image size="100" format="webp"}} 100w"
                                sizes="34px"  
                                type="image/webp">
                            <img 
                                srcset="
                                {{img_url primary_author.profile_image size="100"}} 100w"
                                sizes="34px" 
                                src="{{img_url primary_author.profile_image}}"
                                class="gh-avatar" 
                                alt="{{primary_author.name}} {{t "profile image"}}">
                        </picture>
                    {{else}}
                        <img class="gh-avatar" 
                            src="{{asset "images/avatarDefault.jpg"}}"
                            alt="{{primary_author.name}} {{t "profile image"}}">
                    {{/if}}

                    <div class="gh-post-page__author-name">
                        <span class="gh-post-page__author--start">{{t "by"}}</span>
                        <a href="{{primary_author.url}}" class="gh-post-page__author-name--link">{{primary_author.name}}</a>
                    </div>

                    <div class="gh-post-page__author-date">
                        <span class="gh-post-page__author--start">{{t "Updated"}}</span>

                        <time class="gh-post-info__date" datetime="{{date updated_at format='YYYY-MM-DD'}}">
                            {{date updated_at format="MMMM DD, YYYY"}}
                        </time>
                    </div>

                    <div class="gh-post-page__share">
                        <a class="gh-post-page__share-link" href="https://www.facebook.com/sharer.php?u={{url absolute='true'}}" target="_blank" rel="noopener" aria-label="{{t "Share on facebook"}}">
                            {{>icons/facebook}}
                        </a>
                        <a class="gh-post-page__share-link" href="https://twitter.com/intent/tweet?url={{url absolute='true'}}&amp;text={{encode title}}" target="_blank" rel="noopener" aria-label="{{t "Share on twitter"}}">
                            {{>icons/twitter}}
                        </a>
                        <a class="gh-post-page__share-link" href="https://reddit.com/submit?url={{url absolute='true'}}&amp;media=&amp;description={{encode title}}" target="_blank" rel="noopener" data-pin-do="none" aria-label="{{t "Share on reddit"}}">
                            {{>icons/reddit}}
                        </a>
                        <button class="gh-post-page__share-link copyToClipboardBtn" aria-label="{{t "Copy to clipboard button"}}">
                            {{>icons/link-angled}}
                            <span class="copyToClipboardBtn__success">{{t "Link copied!"}}</span>
                            <span class="copyToClipboardBtn__fail">{{t "Copy failed!"}}</span>
                        </button>
                    </div>
                </div>
            </header>

            <div class="gh-post-page__content">
                {{^if featured}}
                    {{#if feature_image}}
                         <figure class="gh-post-page__featured-img">
                            <picture>
                            <source 
                                srcset="
                                {{img_url feature_image size="800" format="webp"}} 800w,
                                {{img_url feature_image size="1000" format="webp"}} 1000w,
                                {{img_url feature_image size="1200" format="webp"}} 1200w,
                                {{img_url feature_image size="1600" format="webp"}} 1600w,
                                {{img_url feature_image size="2000" format="webp"}} 2000w,
                                {{img_url feature_image size="2400" format="webp"}} 2400w"
                                sizes="(min-width: 1200px) 1200px, 90vw" 
                                type="image/webp"
                            >
                            <img
                                srcset="
                                {{img_url feature_image size="800"}} 800w,
                                {{img_url feature_image size="1000"}} 1000w,
                                {{img_url feature_image size="1200"}} 1200w,
                                {{img_url feature_image size="1600"}} 1600w,
                                {{img_url feature_image size="2000"}} 2000w,
                                {{img_url feature_image size="2400"}} 2400w"
                                sizes="(min-width: 1200px) 1200px, 90vw" 
                                src="{{img_url feature_image size="l"}}"
                                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                class="gh-post-page__image"
                            >
                            </picture>
                            {{#if feature_image_caption}}
                                <figcaption class="gh-card-image__caption">{{feature_image_caption}}</figcaption>
                            {{/if}}
                        </figure>
                    {{/if}}
                {{/if}}

                {{content}}

            </div>
            <div class="gh-post-page__author gh-post-page__author--content">
                {{#if primary_author.profile_image}}
                    <picture>
                        <source 
                            srcset="
                            {{img_url primary_author.profile_image size="100" format="webp"}} 100w"
                            sizes="34px"  
                            type="image/webp">
                        <img 
                            srcset="
                            {{img_url primary_author.profile_image size="100"}} 100w"
                            sizes="34px" 
                            src="{{img_url primary_author.profile_image}}"
                            class="gh-avatar" 
                            alt="{{primary_author.name}} {{t "profile image"}}">
                    </picture>
                {{else}}
                    <img class="gh-avatar" 
                        src="{{asset "images/avatarDefault.jpg"}}"
                        alt="{{primary_author.name}} {{t "profile image"}}">
                {{/if}}

                <div class="gh-post-page__author-name">
                    <span class="gh-post-page__author--start">by</span>
                    <a href="{{primary_author.url}}" class="gh-post-page__author-name--link">{{primary_author.name}}</a>
                </div>

                <div class="gh-post-page__author-date">
                    <span class="gh-post-page__author--start">{{t "Updated"}}</span>

                    <time class="gh-post-info__date" datetime="{{date updated_at format='YYYY-MM-DD'}}">
                        {{date updated_at format="MMMM DD, YYYY"}}
                    </time>
                </div>

                <div class="gh-post-page__share">
                    <a class="gh-post-page__share-link" href="https://www.facebook.com/sharer.php?u={{url absolute='true'}}" target="_blank" rel="noopener" aria-label="{{t "Share on facebook"}}">
                        {{>icons/facebook}}
                    </a>
                    <a class="gh-post-page__share-link" href="https://twitter.com/intent/tweet?url={{url absolute='true'}}&amp;text={{encode title}}" target="_blank" rel="noopener" aria-label="{{t "Share on twitter"}}">
                        {{>icons/twitter}}
                    </a>
                    <a class="gh-post-page__share-link" href="https://reddit.com/submit?url={{url absolute='true'}}&amp;media=&amp;description={{encode title}}" target="_blank" rel="noopener" data-pin-do="none" aria-label="{{t "Share on reddit"}}">
                        {{>icons/reddit}}
                    </a>
                    <button class="gh-post-page__share-link copyToClipboardBtn" aria-label="{{t "Copy to clipboard button"}}">
                        {{>icons/link-angled}}
                        <span class="copyToClipboardBtn__success">{{t "Link copied!"}}</span>
                        <span class="copyToClipboardBtn__fail">{{t "Copy failed!"}}</span>
                    </button>
                </div>
            </div>
        </article>

        <aside class="gh-post-page-aside">
            <h2 class="gh-post-page-aside__title">latest news</h2>
            <div class="gh-post-page-aside__latest-posts">
                {{#get "posts" limit='5' include="authors,tags" filter="id:-{{id}}"}}
                    {{#foreach posts}}

                    {{#if @first}}
                        <ol class="gh-post-page-aside__post-wrapper">
                    {{/if}}

                    {{#has number="1,2,3,4,5"}}
                        <li class="gh-post-page-aside__post">

                            <article class="gh-latest-post {{post_class}}">
                            
                                <div class="gh-card-image-wrapper">
                                    {{#if feature_image}}
                                    <a class="gh-card-image-link-wrapper" href="{{url}}" aria-label="{{t "post image"}}">
                                        <picture class="gh-card-picture">
                                            <source 
                                                srcset="
                                                {{img_url feature_image size="100" format="webp"}} 100w,
                                                {{img_url feature_image size="200" format="webp"}} 200w"
                                                sizes="(max-width: 100wv) 90px"
                                                type="image/webp"
                                            >
                                            <img
                                                srcset="
                                                {{img_url feature_image size="100" format="webp"}} 100w,
                                                {{img_url feature_image size="200" format="webp"}} 200w"
                                                sizes="(max-width: 100wv) 90px"
                                                src="{{img_url feature_image size="200"}}"
                                                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}} {{t "post image"}}{{/if}}"
                                                class="gh-card-image"
                                            >
                                        </picture>
                                    </a>
                                    {{else}}
                                        <a class="gh-card-image-wrapper-link--noImage" href="{{url}}" aria-label="{{title}} {{t "post image"}}">
                                            {{#if @site.icon}}
                                                <img src="{{img_url @site.icon}}" alt="{{@site.title}} icon" class="gh-card-image-wrapper-link--noImage-logo">
                                            {{else}}
                                                <span class="gh-card-image-wrapper-link--noImage-name">{{@site.title}}</span>
                                            {{/if}}
                                        </a>
                                    {{/if}}
                                </div>
                                <div class="gh-latest-post__content">
                                    <a href="{{url}}" class="gh-card-title-link" aria-label="{{t "post title"}}">
                                        <h2 class="gh-latest-post__title">{{title}}</h2>
                                    </a>
                                </div>

                            </article>

                        </li>
                    {{/has}}

                    {{#if @last}}
                        </ol>
                    {{/if}}
                                
                    {{/foreach}}
                {{/get}}
            </div>

            {{!-- Custom Widget --}}

            {{#if @custom.html_widget}}
                <div class="gh-sidebar-custom-widget
                    {{#match @custom.header_type "Header type 1 grey" }} with-small-header{{/match}}
                    {{#match @custom.header_type "Header type 1 black" }} with-small-header{{/match}}
                    {{#match @custom.header_type "Header type 2" }} with-big-header{{/match}}"
                     id="sidebar-custom-widget">
                    {{@custom.html_widget}}
                </div>
            {{/if}}
        </aside>

        {{#if @site.members_enabled}}
            {{#unless @member}}
            <div class="gh-container">
                <form class="gh-post-page-cta" data-members-form="subscribe" data-members-autoredirect="false" novalidate>
                    <div class="gh-post-page-cta__text-box">
                        <h2 class="gh-post-page-cta__title">{{@custom.cta_text_for_subscription_section}}</h2>
                        <p class="gh-post-page-cta__text">{{@custom.cta_subtext_for_subscription_section}}</p>
                    </div>
                    <div class="gh-post-page-cta__subscribe">
                        <input class="gh-post-page-cta__input" data-members-email type="email" name="email-input" id="email-input"
                            placeholder="E-mail" aria-label="{{t "Your Email Address"}}" required>
                        <button aria-label="{{t "Subscribe"}}" class="gh-post-page-cta__btn gh-accent-button" type="submit">
                            <span>{{t "Subscribe"}}</span>
                            {{> "icons/loader"}}
                        </button>
                        <p class="gh-post-page-cta__error" data-members-error></p>
                    </div>
                    <div class="gh-post-page-cta__success">
                        <p class="gh-post-page-cta__success-title">
                            <svg width="36" height="36" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M43.2008 24C43.2008 34.6039 34.6046 43.2 24.0008 43.2C13.3969 43.2 4.80078 34.6039 4.80078 24C4.80078 13.3962 13.3969 4.80005 24.0008 4.80005C27.0132 4.80005 29.8635 5.49378 32.4008 6.73021M39.6008 12L22.8008 28.8L18.0008 24"
                                    stroke="#17996A" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                            </svg><span>{{t "Success! Now Check Your Email"}}</span>
                        </p>
                        <p class="gh-post-page-cta__success-text">{{t "To complete Subscribe, click the confirmation link in your inbox. If it doesn’t arrive within 3 minutes, check your spam folder."}}
                        </p>
                        <a href="{{@site.url}}" class="gh-post-page-cta__success-button"><span>{{t "Ok, Thanks"}}</span></a>
                    </div>
                </form>
            </div>
            {{/unless}}
        {{/if}}


    </div>
        {{#if comments}}
            {{comments title="Comments" count="true" mode="auto" saturation="80"}}
        {{/if}}
        
        {{>more-posts}}

    </div>    
</main>

{{/post}}