{{!< default}}

<main class="gh-archive-page gh-category-page gh-container">
    {{#tag}}
    <div class="gh-archive-page-header{{#if feature_image}} with-image{{/if}}">
        <div class="gh-archive-page-header-main">
            <h1 class="gh-archive-page-title">{{name}}</h1>
            {{#if description}}
            <p class="gh-archive-page-excerpt">{{description}}</p>
            {{else}}
            <p class="gh-archive-page-excerpt">
                A collection of {{plural ../pagination.total empty=(t "No Posts") singular=(t "% Post") plural=(t "% Posts")}}
            </p>
            {{/if}}
        </div>
        {{#if feature_image}}
        <div class="gh-archive-page-image-wrapper">
            <picture>
                <source srcset="{{img_url feature_image size="1600" format="webp" }} 1600w, {{img_url feature_image
                    size="1000" format="webp" }} 1000w, {{img_url feature_image size="800" format="webp" }} 800w, {{img_url
                    feature_image size="600" format="webp" }} 600w, {{img_url feature_image size="500" format="webp" }} 500w"
                    sizes="(max-width: 900px) 96vw, (max-width: 1480px) 46vw, (min-width: 1481px) 672px" type="image/webp">
                <img class="gh-archive-page-feature-image" srcset="{{img_url feature_image size="1600" }} 1600w, {{img_url feature_image
                    size="1000" }} 1000w, {{img_url feature_image size="800" }} 800w, {{img_url feature_image size="600" }}
                    600w, {{img_url feature_image size="500" }} 500w" sizes="(max-width: 900px) 96vw, (max-width: 1480px) 46vw, (min-width: 1481px) 672px"
                    src="{{img_url feature_image size="1600"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}} {{t "post image"}}{{/if}}">
            </picture>
        </div>
        {{/if}}
    </div>
    {{/tag}}
    <div class="gh-archive-page-posts-feed-wrapper gh-archive-feed-wrapper">
        <div class="gh-archive-page-posts-feed gh-posts-feed">
            {{#foreach posts}}
            <div class="gh-archive-page-post gh-posts-feed-post">
                <a href={{url}} class="gh-archive-page-post-image-wrapper-link">
                    {{#if feature_image}}
                    <picture>
                        <source srcset="{{img_url feature_image size="1000" format="webp" }} 1000w, {{img_url feature_image size="800"
                            format="webp" }} 800w, {{img_url feature_image size="600" format="webp" }} 600w, {{img_url feature_image
                            size="500" format="webp" }} 500w"
                            sizes="(max-width: 550px) 100vw, (max-width: 900px) 48vw, (max-width: 1250px) 31vw, (max-width: 1480px) 22vw, (min-width: 1481px) 332px"
                            type="image/webp">
                        <img class="gh-archive-page-post-image" srcset="{{img_url feature_image size="1000"}} 1000w, {{img_url
                            feature_image size="800" }} 800w, {{img_url feature_image size="600" }} 600w, {{img_url feature_image size="500"
                            }} 500w"
                            sizes="(max-width: 550px) 100vw, (max-width: 900px) 48vw, (max-width: 1250px) 31vw, (max-width: 1480px) 22vw, (min-width: 1481px) 332px"
                            src="{{img_url feature_image size="1000"}}" alt="{{title}} {{t "post image"}}" />
                    </picture>
                    {{else}}
                    <div class="gh-archive-page-post-image-plug">
                        {{#if @site.logo}}
                        {{#if @custom.dark_mode_logo}}
                        <img src="{{img_url @custom.dark_mode_logo}}" alt="{{@site.title}} {{t "icon"}}" class="gh-archive-page-post-image-plug-logo-dark-mode">
                        {{/if}}
                        <img src="{{img_url @site.logo}}" alt="{{@site.title}} {{t "icon"}}" class="gh-archive-page-post-image-plug-logo">
                        {{else}}
                        <span class="gh-archive-page-post-image-plug-title">{{@site.title}}</span>
                        {{/if}}
                    </div>
                    {{/if}}
                </a>
                <div class="gh-archive-page-post-content">
                    {{>post-tags}}
                    <div class="gh-archive-page-post-content-main">
                        <h2 class="gh-archive-page-post-title">
                            <a class="gh-archive-page-post-title-link" href="{{url}}" aria-label="{{t "post title"}}">
                                {{title}}
                            </a>
                        </h2>
                        {{>post-info}}
                    </div>
                </div>
            </div>
            {{/foreach}}
        </div>
        {{>load-more-button}}
    </div>
</main>